@{
    ViewData["Title"] = "AdminActions";
}

<h2>Admin Actions </h2>

<p>  </p>
<hr style="width:50% height:8px">

<p>
    <a asp-controller="AssetParameterOptions" asp-action="Create" style="font-size:1.3vw"> Create Asset Parameter Options Masters </a>
</p>
<p>
    <a asp-controller="AssetParameterOptions" asp-action="Index" style="font-size:1.3vw"> View/Edit Asset Parameter Options Masters </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Asset Region Master </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Location of Operation Master </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Location with RFID Master </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Division Master </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Manufacturer Name Master </a>
</p>
<p>
    <a asp-action="Create" style="font-size:1.3vw"> Create/Edit Supplier Name Master </a>
</p>

// <p>
//    <a asp-action="DeleteAssetTable" style="font-size:1.3vw"> Delete Asset Database Table *** Use Caution** </a>
// </p>