@model DAISv1.Models.Asset

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetMaterialType" class="control-label"></label>
                <input asp-for="AssetMaterialType" class="form-control" />
                <span asp-validation-for="AssetMaterialType" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EquipmentType" class="control-label"></label>
                
            <select asp-for="EquipmentType" class="form-control" asp-items="ViewBag.EquipmentTypes"></select>
                <span asp-validation-for="EquipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetCode" class="control-label"></label>
                <input asp-for="AssetCode" class="form-control" />
                <span asp-validation-for="AssetCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetQuantity" class="control-label"></label>
                <input asp-for="AssetQuantity" class="form-control" />
                <span asp-validation-for="AssetQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetRegion" class="control-label"></label>
                <input asp-for="AssetRegion" class="form-control" />
                <span asp-validation-for="AssetRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationOfOperation" class="control-label"></label>
                <input asp-for="LocationOfOperation" class="form-control" />
                <span asp-validation-for="LocationOfOperation" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="LocationWithRFID" class="control-label"></label>
                <input asp-for="LocationWithRFID" class="form-control" />
                <span asp-validation-for="LocationWithRFID" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" />
                <span asp-validation-for=Division class="text-danger"></span>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfInstallation" class="control-label"></label>
                <input asp-for="YearOfInstallation" class="form-control" />
                <span asp-validation-for="YearOfInstallation" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="DesignLifeDate" class="control-label"></label>
                <input asp-for="DesignLifeDate" class="form-control" />
                <span asp-validation-for="DesignLifeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfPeriodLifeDate" class="control-label"></label>
                <input asp-for="EndOfPeriodLifeDate" class="form-control" />
                <span asp-validation-for="EndOfPeriodLifeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerName" class="control-label"></label>
                <input asp-for="ManufacturerName" class="form-control" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelSerialNumber" class="control-label"></label>
                <input asp-for="ModelSerialNumber" class="form-control" />
                <span asp-validation-for="ModelSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
